// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

//snack bar en error
.error-snackbar {
  --mdc-snackbar-container-color: #c62828; /* Rojo vibrante */
  --mdc-snackbar-supporting-text-color: #ffffff; /* Texto blanco */
  
  /* Contenedor de la superficie para asegurar el fondo */
  .mdc-snackbar__surface {
    background-color: #c62828 !important;
  }

  /* Estilo para el botón de acción (Cerrar / Entendido) */
  .mat-mdc-snack-bar-action button {
    // Usamos blanco para un contraste limpio
    --mdc-snack-bar-button-label-text-color: #ffffff !important;
    font-weight: 700 !important; /* Negrita para que se note que es un botón */
    text-transform: uppercase;   /* Estilo clásico de Material */
    letter-spacing: 0.5px;
  }
  .mat-mdc-snack-bar-action button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Un ligero brillo al pasar el mouse */
    border-radius: 4px;
  }
}

//snack bar en exito
.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #2e7d32 !important;
  --mat-snack-bar-button-color: #ffffff !important;
  
  .mdc-snackbar__surface {
    background-color: #2e7d32 !important;
  }

  .mdc-snackbar__label {
    color: #ffffff !important;
  }

  /* El botón "Entendido" */
  .mat-mdc-snack-bar-action button {
    color: #ffffff !important;
    --mdc-snack-bar-button-label-text-color: #ffffff !important;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
