<div class="principal-container">
  <mat-card class="principal-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Invitar Usuario</mat-card-title>
      <mat-card-subtitle>CENTRO DE ENLACE IMEI PIRÁMIDE</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="inviteForm" class="form-content">
        
        <mat-form-field appearance="outline">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" type="email" required>
          <mat-icon matSuffix>email</mat-icon>
          
          @if (inviteForm.get('email')?.hasError('email')) {
            <mat-error>Ingrese un formato de correo válido.</mat-error>
          }
          @if (inviteForm.get('email')?.hasError('required')) {
            <mat-error>El correo es obligatorio.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rol del Usuario</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="TEACHER">Profesor</mat-option>
          </mat-select>
          <mat-icon matSuffix>admin_panel_settings</mat-icon>
          
          @if (inviteForm.get('role')?.touched && inviteForm.get('role')?.hasError('required')) {
            <mat-error>Debe seleccionar un rol.</mat-error>
          }
        </mat-form-field>

        <div class="actions">
          <button mat-flat-button color="primary" 
                  (click)="onSendInvitation()" 
                  [disabled]="inviteForm.invalid">
            ENVIAR
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>